doctype html
html(lang="en")
  head
    include head
  body(data-spy="scroll", data-target="#nav-scroll-spy")
    include variables
    include mixins

    include section-hero
    include section-steps
    include section-photos
    include section-delivery
    include section-features
    include section-about
    include section-newsletter

    include footer

    #fb-root

    include scripts
