section.page-hero#home
  include navbar

  .hero.hero-home
    .container
      .hero-left
        img.logo(src="./img/bento-logo-white.svg", alt="Bento Logo")
        h1
          | Delicious Asian food delivered.
          br
          | Build your Bento for $15 or less.

        
        a.btn.btn-default.btn-download.hidden-md.hidden-lg(href=appStoreURL)
          | Download in App Store
        a.btn.btn-default.btn-download.hidden-md.hidden-lg(href=googlePlayURL)
          | Download on Google Play

        form.form-phone(name="linkTexting")
          .linkTexting_oq3j39q0
            .linkTextingInner_oq3j39q0
              .input-group
                input.linkTextingInput_oq3j39q0.form-control.bfh-phone.span1#numberToText_linkTexting_oq3j39q0_5e87fc24-49d5-4321-8dd7-b239e516b843(type="tel", data-format="+1 (ddd) ddd-dddd")
                span.input-group-btn
                  button.linkTextingButton_oq3j39q0.btn#sendButton_linkTexting_oq3j39q0_5e87fc24-49d5-4321-8dd7-b239e516b843(type="submit")
                    | Text download link
              .linkTextingError_oq3j39q0#linkTextingError_oq3j39q0_5e87fc24-49d5-4321-8dd7-b239e516b843(style="display:none;")
      .hero-right.hidden-xs.hidden-sm
        .bento-screenshots
