section.photos
  .photo-large-left
    img(src="./img/photo-large-1.jpg", alt="Photo of Bento Box")

  .photo-large-right
    img(src="./img/photo-large-2.jpg", alt="Bento Mongolian Beef")

  .photo-small-left-left
    img(src="./img/photo-small-1.jpg", alt="Photo of Bento")

  .photo-small-left
    img(src="./img/photo-small-2.jpg", alt="Photo of Bento")

  .photo-small-right
    img(src="./img/photo-small-3.jpg", alt="Photo of Bento")

  .photo-small-right-right
    img(src="./img/photo-small-4.jpg", alt="Photo of Bento")

