.about
  .row
    .container
      hr

  // TODO use media-object
  .row
    .container
      .col-md-6
        .photo-set
          img.left(src="./img/best-food-1@2x.jpg", srcset="./img/best-food-1.jpg 1x, ./img/best-food-1@2x.jpg 2x")
          img.right(src="./img/best-food-2@2x.jpg", srcset="./img/best-food-2.jpg 1x, ./img/best-food-2@2x.jpg 2x")
          img.right(src="./img/best-food-3@2x.jpg", srcset="./img/best-food-3.jpg 1x, ./img/best-food-3@2x.jpg 2x")
      .col-md-offset-1.col-md-5
        .photo-caption
          h1 The best food from the best chefs.
          p
            | Our food is prepared fresh daily in our kitchen by a talented 
            | staff led by Chef Mattin Noblia, a world-renowned chef from Top 
            | Chef Season 6.
          p
            | All of our food is:
          ul
            li Asian inspired
            li 
              | Prepared in a healthy manner &mdash; No MSG or additives added. 
              | We never abuse sugar, salt or fat.
            li
              | Sourced responsibly &mdash; We hold our suppliers to high 
              | standards so we can stand behind the source of our ingredients.
          p 
            | Our servers have state-of-the-art equipment that keeps your food 
            | fresh from our kitchen to your door.

  .row
    .container
      .col-md-5
        .photo-caption
          h1 Bento drivers are family too.
          p
            | Bento Servers are the face of our company. In fact,
            | they're not contractors; they're employees. Drivers earn
            | $19 - $22 per hour, have consistent schedules, and get
            | free Bento every shift! Interested? 
            a(href=driverSignupURL) Apply to drive for us!
      .col-md-offset-1.col-md-6
        .photo-set
          img(src="./img/bento-drivers@2x.jpg", srcset="./img/bento-drivers@1x.jpg 1x, ./img/bento-drivers@2x.jpg 2x")
