section.features
  .container
    .row
      .col-sm-12.col-md-4
        .img-circle
          img(src="./img/carrot.svg")
        h1 Sourced Responsibly
        p 
          | We hold our suppliers to high standards so we can stand behind the 
          | source of our many ingredients.

      .col-sm-12.col-md-4
        .img-circle
          img(src="./img/car.svg", style="padding-top:10px")
        h1 Fresh Through Delivery
        p 
          | Our cars use state of the art equipment to keep your food fresh so 
          | it tastes like it just came from the kitchen.

      .col-sm-12.col-md-4
        .img-circle
          img(src="./img/recycle.svg")
        h1 Recyclable Materials
        p 
          | The materials and packing used to keep your Bento fresh are 
          | reusable and 100% recyclable.
