mixin step(number)
  .step-number
    span Step
    br
    =number

section.steps
  .container
    .row.steps-list
      .col-sm-12.col-md-4.step
        +step("1")
        h1 Download the App
        p
          | Find us in the 
          a(href=appStoreURL) App Store 
          | and on 
          a(href=googlePlayURL) Google Play
          | .

      .col-sm-12.col-md-4.step
        +step("2")
        h1 Build &amp; Schedule 
        p Schedule your custom meals in advance for the whole week!

      .col-sm-12.col-md-4.step
        +step("3")
        h1 Enter your address. Done!
        p Our friendly driver delivers your Bento order as scheduled.

    p <center>Bento’s dishes are prepared fresh daily, &amp; the options change regularly.</center>
