section.delivery#service
  .row
    .delivery-bar.col-sm-12
      .inner
        img(src="./img/delivery.svg", height="18")
        | Now delivering lunch to (order by 10am)...
  .delivery-map#delivery-map

