- var appStoreURL = "https://itunes.apple.com/us/app/bento-asian-food-delivered/id963634117?ls=1&mt=8"
- var googlePlayURL = "https://play.google.com/store/apps/details?id=com.bentonow.bentonow"
- var branchDownloadAppURL = "https://bnc.lt/l/5tN62DU_SU"
- var driverSignupURL = "https://docs.google.com/a/bentonow.com/forms/d/1B_zunAaTdTE8MrynmkHclyQ9EJNRIyQFpaXMB_-8avQ/viewform"