.delivery {
  overflow: hidden;

  .delivery-bar {
    font-size: 24px;
    color: white;
    background-color: @green-dark;
    height: 75px;
    line-height: 75px;
    text-align: center;
    border-top: 4px solid white;
    img {
      padding-right: 33px;
    }
  }

  .delivery-map{
    height: 100%;
    .img-responsive();
    
    height: 500px;
    @media (min-width: 1440px) {
      height:700px;
      
    }
  }

}