// Custom Styles - Home
.medialinks{
  display: inline-block;
  margin: 0 20px;
  padding: 10px 0;

  &.twitter {
    // .navbar-nav > li > a line-height + top padding
    // + bottom padding + bottom border
    height: (@line-height-computed + 10 + 10 + 1);
    
    iframe[id*="twitter-widget"] {
      vertical-align: middle;
    }
  }

  &.facebook {
    // see .twitter above
    height: (@line-height-computed + 10 + 10 + 1);
    
    .fb_iframe_widget {
      vertical-align: middle;
    }
  }

  &.instagram {
    // see .twitter above
    height: (@line-height-computed + 10 + 10 + 1);

    a[class*="ig-b-"] {
      padding: 0;
      zoom: 0.867;
      vertical-align: middle;
    }
  }
  
  &:first-child {
    margin-left: 0;
  }

  &.navlink a {
    padding: 1px 0;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2em;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;

    transition: .15s border-color;

    &:hover {
      color: #fff;
      border-color: #fff;
    }
  }

  &.active {

    a {
      color: #fff;
      background: none;
      border-color: #fff;
    }
  }
}

@animation-offset: 100px;

.navbar-home {
  // TODO relative / fixed versions
  //padding-top: 10px;

  top: -@animation-offset;
  //margin-bottom: -@animation-offset;

  &.navbar-static {
    padding-top: (@animation-offset + 10); // 10px padding
  }
  
  &.in {
    background-color: @green;
    top: 0;
    transition: top 0.5s ease-out;    
  }

  .navbar-nav{
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      .medialinks;
    }
  }
}

.footer-top {

  .links{
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      .medialinks;
    }
  }
}
@media (max-width: 992px) {
  .navbar-home .navbar-nav li {
    &.twitter,&.facebook,&.instagram{
      display: none;
    }
  }   
  .footer-top .links li {
      margin: 0;
      display: block;
  }   
}

.logo {
  max-width: 342px;
}

.page-hero {
  background-image: url(/img/plates-bg.jpg);
  background-size: cover;
}

.hero-home {
  padding: (100 - @animation-offset) 0 100px;

  @media (max-width: 992px) {
    padding: 25px 0 0;
  }

  .hero-left {
    float: left;
    width: 50%;

    @media (max-width: 992px) {
      width: 100%;
      text-align: center;
    }

    .logo {
      margin-bottom: 50px;

      @media (max-width: 750px) {
        max-width: 240px;
        margin-bottom: 25px;
      }
    }

    h1 {
      margin: 0 0 50px;
      font-size: 21px;
      font-weight: normal;
      line-height: 1.8em;
      color: #fff;

      @media (max-width: 750px) {
        font-size: 16px;
        margin-bottom: 25px;
      }
    }

    .app-store-btn {
      display: none;

      @media (max-width: 992px) {
        display: block;
      }

      .btn-download {
        padding: 12px 32px;
        margin-bottom: 50px;
        font-size: 16px;
        font-weight: 600;
        color: @green-dark;
        text-transform: uppercase;
        letter-spacing: .1em;
        border: none;
      }
    }

    .form-phone {
      max-width: 480px;
      margin-bottom: 50px;

      @media (max-width: 992px) {
        display: none;
      }
    }
  }

  .hero-right {
    float: right;
    width: 50%;

    @media (max-width: 992px) {
      display: none;
    }

    .bento-screenshots {
      position: relative;

      img {
        position: absolute;
        top: -40px;
        left: 0;
        max-width: 469px;
      }
    }
  }

  input {
    padding: 21px 12px;
    color: @gray-light;
    font-size: 16px;
    border: none;
    border-right: 1px solid @green;
    z-index: 1;
    box-shadow: 0px 0px 18px rgba(0,0,0,0);
    transition: .15s box-shadow;

    &:focus {
      outline: none;
      -webkit-appearance: none;
      box-shadow: 0px 0px 18px rgba(0,0,0,.3);
      border-right: 1px solid @green;
    }
  }

  button {
    height: auto;
    width: auto;
    padding: 14px 24px;
    background: #fff;
    color: @green-dark;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 1em;
    border-left: 1px solid @green;
    transition: color .15s;
    z-index: 2;

    &:hover {
      background: #fff;
      color: @gray;
    }
  }
}

.steps-list {
    margin: 150px 0 0;
    padding: 0;

    @media (max-width: 992px) {
      margin: 25px 0 0;
    }

  .step {
    margin: 0;
    padding: 20px;
    text-align: center;

    .step-number {
      display: inline-block;
      width: 72px;
      height: 72px;
      margin-bottom: 16px;
      padding-top: 4px;
      background: @green;
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      line-height: .85em;

      span {
        font-size: 12px;
        font-weight: normal;
        letter-spacing: .1em;
      }
    }

    h1 {
      font-size: 21px;
      color: @gray;
    }

    p {
      font-size: 16px;
      color: @gray-light;
    }
  }
}

.photos {
  margin-top: 100px;
  .clearfix();

  @media (max-width: 992px) {
    margin-top: 25px;
  }

  .photo {
    float: left;

    img {
      width: 100%;
    }
  }

  .photo-large {
    width: 50%;
  }

  .photo-small {
    width: 25%;
  }
}

.footer {

  .footer-top {
    padding: 20px 0;
    background: @green;

    .logo {
      float: left;
      max-width: 200px;
      margin-top: 4px;

      @media (max-width: 992px) {
        margin-top: 8px;
        max-width: 96px;
      }
    }

    .links {
      float: right;

      .app-button {
        max-width: 160px;
      }
    }
  }

  .footer-bottom {
    padding: 20px 0;
    background: @green-dark;

    @media (max-width: 992px) {
      text-align: center;
    }
  }

  .copyright {
    float: left;
    color: #fff;
    opacity: .5;
    text-transform: uppercase;
    letter-spacing: .1em;

    @media (max-width: 992px) {
      width: 100%;
    }
  }

  .footer-nav {
    list-style: none;
    float: right;
    margin-bottom: 0;

    @media (max-width: 992px) {
      display: none;
    }

    li {
      display: inline-block;
      margin: 0 20px;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .2em;

      &:last-child {
        margin-right: 0;
      }

      a {
        padding-bottom: 5px;
        color: #fff;
        border-bottom: 1px solid;
        border-color: transparent;
        transition: border-color .15s;

        &:hover {
          text-decoration: none;
          border-color: #fff;
        }
      }
    }
  }
}

.delivery{
  
    height:auto;
    
    .delivery-bar-content{
      max-width: 100%;
      width: 300px;
      margin: 0 auto;
      height: 21px;
      padding-top: 10px;
      font-size: 18px;

    }
    .delivery-bar{
      position: relative;
      width: 100%;
      height: 43px;
      background-color: #fff;
      opacity: 0.7;
      text-align: center;
      z-index: 100;
    }
    .delivery-car{

      background-image: url(/img/car.png);
      background-size: 88px 21px;
        background-repeat: no-repeat;
        display: block;
        width: 88px;
        height: 21px;
        float:left;
        margin-right: 5px;
    
    }
    .delivery-text{
      float:left;
    }


  .delivery-map{
    height: 100%;
    .img-responsive();
    
    height: 500px;
    @media (min-width: 1440px) {
      height:700px;
      
    }
  }

}
.newsletter{
  color: @gray-light;
  margin: 50px 0;
  font-size: 15px;

  @media (max-width: 992px) {
    width: 100%;
    text-align: center;
  }

  
  .newsletter-text{
    
    text-align: center;
  }
  .newsletter-email {
    display: inline-block;
      overflow: hidden;
      border-radius: 3px;
      border: 1px solid @silver;
      vertical-align: top;
      margin: 30px 0 15px 0;
      padding: 0;
      display: inline-block;
  
     input[type=email]{
        width: 300px;
        border: none;
        color: @gray;
        outline: none;
        padding: 10px 10px;
        @media (max-width: 1200px) {
          width: 250px;
        }
         @media (max-width: 500px) {
          width: 150px;
        }
    }
    input[type=submit]{
        border-left: 1px solid @silver;
        border-top: none;
        border-right: none;
        border-bottom: none;
       
        background: #fff;
        color: @green;
        cursor: pointer;
        width: 100px;
        outline: none;
        padding: 10px 10px;
        text-transform:uppercase;
    }
  }

  .newsletter-menusubscribe{
    white-space: nowrap;
    width: 350px;
    line-height: 18px;
    vertical-align: middle;
    @media (max-width: 992px) {
      .center-block();

    }
    @media (max-width: 500px) {
      max-width: 80%;
    }
  }

  label{
    display: inline-block;;
    margin-left: 7px;
    font-size: 15px;
    font-weight: normal;
    vertical-align: middle;
    text-align: left;
    word-wrap: break-word;
      white-space: normal;
    }
  span{
    display: inline-block;;
    vertical-align: middle;
      margin-left: 6px;
    
  }
  input[type=checkbox]{
    border: 1px solid @silver;
    margin:0 10px 10px 0;
    transform: scale(1.3);

  }
  
  .newsletter-email > button::-moz-focus-inner {
      border: 0;
  }

  h2{
    font-size: 20px;
  }

  .error{
    color: red;
    margin-top: -5px;
    font-size: 90%;

  }
}

@media (max-width: 500px) {
  .navbar-home .navbar-nav li{
    margin: 0 5px;
  }
  .hero-home .hero-left .app-store-btn .btn-download{
    padding: 10px 15px;
    font-size: 14px;
  }

}
